<div class="container">
  <mat-card>
    <mat-card-header>
        <mat-card-title>Cadastro de usuários</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="registerForm" class="form-control">
          <div>
            <mat-form-field>
              <input matInput type="text" value="" placeholder="Nome do usuário" formControlName='username'>
              <mat-error *ngIf='registerForm.controls.username.hasError("required")'>
                Nome do usuário é obrigatório
              </mat-error>
              <mat-error *ngIf='registerForm.controls.username.hasError("minlength")'>
                Nome do usuário deve possuir mais de 5 caracters
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input matInput type="text" value="" placeholder="Email" formControlName='email'>
            </mat-form-field>
            <mat-error *ngIf='registerForm.controls.email.hasError("required")'>
              Email é obrigatório
            </mat-error>
            <mat-error *ngIf='registerForm.controls.email.hasError("minlength")'>
              Email deve possuir mais de 5 caracters
            </mat-error>
            <mat-error *ngIf='registerForm.controls.email.hasError("email")'>
              Email inválido
            </mat-error>
          </div>
          <div>
            <mat-form-field>
              <input matInput type="password" value="" placeholder="Senha" formControlName='password1'>
            </mat-form-field>
            <mat-error *ngIf='registerForm.controls.password1.hasError("required")'>
              Senha é obrigatório
            </mat-error>
            <mat-error *ngIf='registerForm.controls.password1.hasError("minlength")'>
              Senha deve possuir no mínimo 8 caracters
            </mat-error>
          </div>
          <div>
            <mat-form-field>
              <input matInput type="password" value="" placeholder="Repita a senha" formControlName='password2'>
            </mat-form-field>
            <mat-error *ngIf='registerForm.controls.password2.hasError("required")'>
              Confirmação de senha é obrigatório
            </mat-error>
            <mat-error *ngIf='registerForm.controls.password2.hasError("minlength")'>
              Confirmação de senha deve possuir no mínimo 8 caracters
            </mat-error>
            <mat-error *ngIf='registerForm.controls.password2.hasError("confirmedvalidator")'>
              Senhas não são iguais
            </mat-error>
          </div>
        </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)='submit()' [disabled]='!registerForm.valid'>
          <mat-icon style="color: green;" id="btn-submit">check</mat-icon>Cadastrar
      </button>
      <button mat-button (click)='clear()'>
        <mat-icon style="color: red;" id='btn-close'>close</mat-icon>Limpar
      </button>
    </mat-card-actions>
  </mat-card>
</div>
